@page "/student-quiz"
@model XeerLearn.Pages.Components.Student.StudentQuizModel
@using Microsoft.EntityFrameworkCore;
@using XeerLearn.Models.Auth;
@using XeerLearn.Models.Utility;
@inject ApplicationDbContext _context;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@inject UserManager<XeerLearnUser> user
@{
    var query = user.FindByEmailAsync(User.Identity.Name).Result;
    Layout = "_MainLayout";
    int key = 1;

}
@functions
{
    async Task<List<QuizResult>> GetAttempts(Guid Id)
    {
        return await _context.QuizResults.Where(x => x.QuizId == Id).ToListAsync();
    }
}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Student</span> Quiz</h4>

@if (Model.quizzes != null)
{
    @if (Model.quizzes.Count() == 0)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start">
                    <img align="center" src="~/blank.png" style="height:100px;" />
                </div>
            </div>
        </div>
    }
    @if (Model.quizzes.Count() > 0)
    {

      <div class="card" style="width:max-content;">
            <div class="col-md-12">
            <h5 class="card-header"> (@Model.quizzes.Count()) Quiz</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Title</th>
                            <th>Duration</th>
                            <th>Published</th>
                            <th>Attempts</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th></th>
        
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.quizzes)
                        {
                           
                            <tr>
                                <th scope="row">@(key++)</th>
                                <td>@data.Title</td>
                                <td>@data.Duration</td>
                                <td>
                                    @if(data.Publish == true)
                                        {
                                            <p> true </p>
                                        }
                                        else
                                        {
                                            <p>false</p>
                                        }
                                    </td>
                                <td>
                                    @if(GetAttempts(data.Id).Result != null)
                                    {
                                        <strong>@GetAttempts(data.Id).Result.Count()</strong>
                                    }
                                    else
                                    {
                                        <p>No attempts</p>
                                    }

                                </td>
                                    <td>@data.StartTime.ToShortDateString() @data.StartTime.ToShortTimeString()
                                    <td>
                                            @data.Deadline.ToShortDateString() @data.Deadline.ToShortTimeString()
                   
                                </td>
                                <td>
                                    @* @if (_context.QuizResults.Where(x => x.QuizId == data.Id && x.XeerLearnUserId == Model.user.Id).FirstAsync() == null)
                                    {*@
                                                    <button type="button"
                                    class="btn btn-primary"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modal@(key)">
                                Start
                            </button>
                                   <div class="modal fade" id="modal@(key)" tabindex="-1" aria-hidden="true">
                                              
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel1">Start Quiz</h5>
                                            <button type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col mb-3">
                                                    <label for="nameBasic" class="form-label">Are you sure you want to start quiz?</label>

                                                </div>

                                            </div>

                                        </div>
                                        <div  class="modal-footer">
                                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                                        <a href="/begin-quiz-@data.Id" class="text-white btn btn-primary">Begin</a>
                                        </div>
                                    </div>
                                </div>
                                                </div>

                                           @* }
                                            else
                                            {
                                                <p>Submitted</p>
                                            }*@
                                        </td>
                           
                            </tr>

                        }


                    </tbody>
                </table>
            </div>
        </div>
      </div>

    }
}
<script>
    function press(time)
    {
        localStorage.setItem('time', time);
    }
</script>
