@page "/student-lectures"
@model XeerLearn.Pages.Components.Student.StudentLecturesModel
@using XeerLearn.Models.Auth;
@inject UserManager<XeerLearnUser> user
@{
    Layout = "_MainLayout";
    int key = 1;
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Student</span> Lectures</h4>

@if(Model.meetings != null)
{
    @if (Model.meetings.Count() == 0)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start">
                    <img align="center" src="~/blank.png" style="height:100px;" />
                </div>
            </div>
        </div>
    }
    @if (Model.meetings.Count() > 0)
    {

        <div class="card">
            <h5 class="card-header"> (@Model.meetings.Count()) Lectures</h5>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Name</th>
                            <th>status</th>
                            <th>Start</th>
                            <th>End</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model.meetings)
                        {
                            <tr>
                                <th scope="row">@(key++)</th>
                                <td>@data.Name</td>
                                <td>
                                    @if(data.StartTime > DateTime.Now)
                                    {
                                        <p>Upcoming</p>
                                    }
                                    else
                                    {
                                        <p>Completed</p>
                                    }
                                </td>
                                <td>@data.StartTime.ToShortDateString() @data.StartTime.ToShortTimeString()</td>
                                <td>@data.EndTime.ToShortDateString() @data.EndTime.ToShortTimeString()</td>
                                <td>
                                    @if (data.StartTime > DateTime.Now)
                                    {
                                        <p>Upcoming</p>
                                    }
                                    @if (data.EndTime < DateTime.Now)
                                    {
                                        <p>Elapsed</p>
                                    }
                                    @if (data.StartTime < DateTime.Now && DateTime.Now < data.EndTime)
                                    {
                                         <a href="/attend-@data.Id" target="_blank" class="btn btn-outline-primary">Access</a>                  
                                    }
                                   
                                </td>
                                <td>
                                    <button type="button"
                                            class="btn btn-danger"
                                            data-bs-toggle="modal"
                                            data-bs-target="#modal@(key)">
                                        Delete
                                    </button>
                                    <div class="modal fade" id="modal@(key)" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel1">Delete Lecture</h5>
                                                    <button type="button"
                                                            class="btn-close"
                                                            data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <label for="nameBasic" class="form-label">Are you sure you want to delete?</label>
                                                      
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                                        Close
                                                    </button>
                                                    <a href="/delete-lecture/@data.Id" class="text-white btn btn-primary">Save changes</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                             
                            </tr>                           

                        }


                    </tbody>
                </table>
            </div>
        </div>


    }
}


<script>

    function SetItem(id) {
        localStorage.setItem("ID", id);
    }
</script>

