@page "/tutor-transaction"
@model TutorTransactionModel
@{
    Layout = "_MainLayout";
}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tutor</span> Transactions</h4>

@if (Model.transactions != null)
{
    @if (Model.transactions.Count() == 0)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start">
                    <img align="center" src="~/blank.png" style="height:100px;" />
                </div>
            </div>
        </div>
    }
    @if (Model.transactions.Count() > 0)
    {
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link" href="/tutor-account" ><i class="bx bx-user me-1"></i> Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">
                        <i class="bx bx-money me-1"></i> Transactions
                    </a>
                </li>
            </ul>
        </div>
               <div class="card">
            <div class="card-header">
                <h5>Transactions</h5>
                <div class="input-group input-group-merge">
                    <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>
                    <input id="search-field" type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31">
                </div>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table">
                    <thead>
                        <tr class="text-nowrap">
                            <th>#</th>
                            <th>Account Name</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Access</th>
                            <th>Expiry</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.transactions.Count() > 0)
                        {
                            @foreach (var data in Model.transactions)
                            {
                                <tr>
                                    <th scope="row">@data.Id</th>
                                    <td>@data.AccountName</td>
                                    <td>@data.Currency</td>
                                    <td>@data.Amount</td>
                                    <td>@data.AccessKeyId</td>
                                    <td>@data.ExpiryDate</td>
                                    <td>@data.DateTime</td>
                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

    }
}
