@page "/student-libary"
@model Verdon.Pages.Components.Student.StudentLibaryModel
@using Verdon.Models.Auth;
@inject UserManager<VerdonUser> user
@{
    var query = user.FindByEmailAsync(User.Identity.Name).Result;
    Layout = "_MainLayout";
    int key = 1;
}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Student</span> Libary</h4>

<div class="row">
    <!-- Basic with Icons -->
    <div class="col-sm-10">
        <div class="card mb-4">
            @if (Model.materials != null)
            {
                @if (Model.materials.Count() == 0)
                {
                    
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start">
                                <img align="center" src="~/blank.png" style="height:100px;" />
                            </div>
                        </div>
                    
                }
                @if (Model.materials.Count() > 0)
                {

                    <div class="card-body" style="height:700px;overflow:scroll;">
                        <h5 class="card-header"> Materials</h5>

                                    @foreach (var data in Model.materials)
                                    {
                                        <div class="row" style="border:solid;padding:5px;margin:5px;border-width:3px;">
                                            <div class="card-title">
                                                <div class="card-header">
                                                    <a class="text" href="@data.File">
                                                    <img align="center" src="~/blank.png" style="height:40px;" /> @data.Name
                                                    </a>
                                                </div>
                                                <div>
                                                     <small>@data.Author </small> |
                                                    <small> @data.DateTime.ToLongDateString() @data.DateTime.ToShortTimeString()</small>
                                                 </div>
                                            </div>
                                        </div>
                                   
                                      
                                    }


                        </div>
                   

                }
            }
        </div>
    </div>
</div>






