@page "/tutor-announcement"
@model XeerLearn.Pages.Components.Lecture.AnnouncementModel
@using XeerLearn.Models.Auth;
@inject UserManager<XeerLearnUser> user
@{
    Layout = "_MainLayout";
    int key = 1;
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tutor</span> Announcements</h4>

<div class="col-lg-4 col-md-6">
    <div class="mt-3">
        <!-- Button trigger modal -->
        <button type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#basicModal">
            New Message
        </button>

        <!-- Modal -->
        <div class="modal fade" id="basicModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form method="post" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Drop Message</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameBasic" class="form-label">Title</label>
                                <input asp-for="alert.Title" type="text" id="nameBasic" class="form-control" placeholder="Enter Title" />
                            </div>

                        </div>
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameBasic" class="form-label">Name</label>
                                <textarea rows="20" col="3" asp-for="alert.Description" type="text" id="nameBasic" class="form-control" placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem
                                    ipsum dolor sit amet, consectetur - Adeniyi Bobo"></textarea>
                                <input asp-for="alert.XeerLearnUserId" value="@user.FindByEmailAsync(User.Identity.Name).Result.Id" hidden type="text" id="nameBasic" class="form-control" placeholder="Enter Name" />
                                <input asp-for="alert.AccessKeyId" value="@Model.Access" hidden type="text" id="nameBasic" class="form-control" placeholder="Enter Name" />
                            </div>

                        </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">Broadcast</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
@if (Model.alerts != null)
{
    @if (Model.alerts.Count() == 0)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start">
                    <img align="center" src="~/blank.png" style="height:100px;" />
                </div>
            </div>
        </div>
    }
    @if (Model.alerts.Count() > 0)
    {
        <div class="row">
            <div class="col-md-12">        
            @foreach(var data in Model.alerts)
            {
                <div class="col-md-6 col-lg-4 mb-3">
                    <div class="card">
                        <h5 class="card-header">@data.Title</h5>
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    @data.Description
                                </p>
                                <footer class="blockquote-footer">
                                    Written by
                                <cite title="Source Title">@Model.user.FirstName @Model.user.LastName </cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    }
}