@page "/tutor-students"
@model XeerLearn.Pages.Components.Tutor.TutorStudentsModel
@using XeerLearn.Models.Auth;
@inject ApplicationDbContext _context;
@{
    Layout = "_MainLayout";
    int key = 1;
}
@functions{

    async Task<XeerLearnUser> GetUser(string Id)
    {
        return await _context.User.FindAsync(Id);
    }
}
<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tutor</span> Students</h4>

@if (Model.students != null)
{
    @if (Model.students.Count() == 0)
    {
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start">
                    <img align="center" src="~/blank.png" style="height:100px;" />
                </div>
            </div>
        </div>
    }
    @if (Model.students.Count() > 0)
    {

        <div class="card" style="width:max-content;">
            <div class="col-md-12">
                <h5 class="card-header"> (@Model.students.Count()) Students</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>
                            <tr class="text-nowrap">
                                <th>#</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var data in Model.students)
                            {
                                <tr>
                                    <th scope="row">@(key++)</th>
                                    <td><img style="height:100px;border-radius:20px;" src="@GetUser(data.XeerLearnUserId).Result.Image" />@GetUser(data.XeerLearnUserId).Result.FirstName @GetUser(data.XeerLearnUserId).Result.LastName</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-danger"
                                                data-bs-toggle="modal"
                                                data-bs-target="#model@(key)">
                                            View
                                        </button>
                                        <div class="modal fade" id="model@(key)" tabindex="-1" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel1">Student Profile</h5>
                                                        <button type="button"
                                                                class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="mb-4">
                                                            <h5 class="card-header">Profile Details</h5>
                                                            <!-- Account -->
                                                            <div>
                                                                <div class="d-flex align-items-start align-items-sm-center gap-4">
                                                                    <img src="@GetUser(data.XeerLearnUserId).Result.Image"
                                                                         alt="user-avatar"
                                                                         class="d-block rounded"
                                                                         height="100"
                                                                         width="100"
                                                                         id="uploadedAvatar" />
                                                                   
                                                                </div>
                                                            </div>
                                                            <hr class="my-0" />
                                                            <div class="card-body">
                                                                <div id="formAccountSettings">
                                                                    <div class="row">
                                                                        <div class="mb-3 col-md-6">
                                                                            <label for="firstName" class="form-label">First Name</label>
                                                                            <input class="form-control"
                                                                                   type="text"
                                                                                   id="firstName"
                                                                                   name="firstName"
                                                                                   disabled
                                                                                   value="@GetUser(data.XeerLearnUserId).Result.FirstName"
                                                                                   autofocus />
                                                                        </div>
                                                                        <div class="mb-3 col-md-6">
                                                                            <label for="lastName" class="form-label">Last Name</label>
                                                                            <input class="form-control" disabled type="text" name="lastName" id="lastName" value="@GetUser(data.XeerLearnUserId).Result.LastName" />
                                                                        </div>
                                                                        <div class="mb-3 col-md-6">
                                                                            <label for="email" class="form-label">Email</label>
                                                                            <input class="form-control"
                                                                                   type="text"
                                                                                   id="email"
                                                                                   name="email"
                                                                                   disabled
                                                                                   value="@GetUser(data.XeerLearnUserId).Result.Email"
                                                                                   placeholder="john.doe@example.com" />
                                                                        </div>
                                                                        <div class="mb-3 col-md-6">
                                                                            <label for="organization" class="form-label">Matric</label>
                                                                            <input type="text"
                                                                                   class="form-control"
                                                                                   id="organization"
                                                                                   name="organization"
                                                                                   value="@GetUser(data.XeerLearnUserId).Result.Matric" />
                                                                        </div>
                                                                        <div class="mb-3 col-md-6">
                                                                            <label class="form-label" for="phoneNumber">Phone Number</label>
                                                                            <div class="input-group input-group-merge">
                                                        
                                                                                <input type="text"
                                                                                       id="phoneNumber"
                                                                                       value="@GetUser(data.XeerLearnUserId).Result.PhoneNumber"
                                                                                       class="form-control"
                                                                                         />
                                                                            </div>
                                                                        </div>
                                                                        <div class="mb-3 col-md-6">
                                                                            <label for="address" class="form-label">Address</label>
                                                                            <input type="text" class="form-control" id="address" value="@GetUser(data.XeerLearnUserId).Result.Address" placeholder="Address" />
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /Account -->
                                                        </div>
                                                    </div>
                                               
                                            

                                                   
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                </tr>

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }
}
